<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ sitename }}</title>
</head>
<frameset rows="150,*" border="0">
  <frame src="{% url 'MainMenu:menu' %}" name="menu" scrolling="auto" frameborder="0">
  <frame src="{% url 'ReadCsv:show' %}" name="main">
  <noframes>
  <body>
  <p>このページを表示するには、フレームをサポートしているブラウザが必要です。</p>
  </body>
  </noframes>
</frameset>
</html>