{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ sitename }}</title>
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body id="index">

<div id="wrapper">

<!-- ▼枠▼ -->
<div class="block">
<div class="block-inner">

<h1>{{ sitename }}</h1>
<form action="{% url 'MainMenu:index' %}" method="POST">
    {% csrf_token %}
    <table>
        <tr><td>{{ form.user.label }}</td><td>{{ form.user }}<span class="ctrlerr">{{ form.user.errors.0 }}</span></td></tr>
        <tr><td>{{ form.password.label }}</td><td>{{ form.password }}<span class="ctrlerr">{{ form.password.errors.0 }}</span></td></tr>
        <tr><td></td><td><input type="submit" value="ログイン"></td></tr>
    </table>
</form>
</div></div><!-- ▲枠▲ -->

</div>
</body>
</html>

